<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHARKCODE || AVISO</title>
    <link rel="stylesheet" type="text/css" href="../Style/Desing_Style/alert_style.css"/>
    <link rel="stylesheet" type="text/css" href="../Style/Desing_Style/form_style.css"/>
    <link rel="stylesheet" type="text/css" href="../Style/Desing_Style/page_style.css"/>
    <link rel="stylesheet" type="text/css" href="../Style/format.css"/>
    <link rel="stylesheet" type="text/css" href="../Style/grid.css"/>
    <link rel="stylesheet" type="text/css" href="../Style/grid2.css"/>
</head>
<body>
    <section class="container">
        <div class="div_10 alert">
            <header class="div_5">
                <figure class="div_5">
                    <img src="../IMG/Feito.svg">
                </figure>
                <h1 class="title_alert">Cadastro Concluido</h1>
                <h2 class="title_alert">Agora você faz parte da plataforma da monitora.
                    Tenha uma ótima experiência.</h2>
            </header>
            <a href="login.html" class="button_alert div_2">
                <button>
                    Fazer login
                </button>
            </a>
        </div>
    </section>
    
</body>
</html>