<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHARKCODE || Cadastro</title>
    <link rel="stylesheet" type="text/css" href="../Style/grid.css"/>
    <link rel="stylesheet" type="text/css" href="../Style/format.css"/>
    <link rel="stylesheet" type="text/css" href="../Style/Desing_Style/form_style.css"/>
    <link rel="stylesheet" type="text/css" href="../Style/Desing_Style/cadastro_style.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo&display=swap" rel="stylesheet">
</head>
<body>
    <section class="container">
        <div class="div_4">
            <form class="form_format">
                <header class="titleLogin_form_format div_10">
                    <h1 id="title_size_max">Cadastro</h1>
                    <h2 id="title_size_min" class="div_7">Preencha os dados abaixo para começar</h2>
                </header>
                <span class="containerInput_form_format">
                    <label class="inputLogin_form_format div_10">
                        <span>Nome</span>
                        <input type="text" placeholder="Nome" id="nome">
                    </label>
                    <label class="inputLogin_form_format div_10">
                        <span>Sobrenome</span>
                        <input type="text" placeholder="Sobrenome" id="sobrenome">
                    </label>
                    <label class="inputLogin_form_format div_10">
                        <span>E-mail</span>
                        <input type="email" placeholder="E-mail" id="email">
                    </label>
                    <label class="inputLogin_form_format div_10">
                        <span>Senha</span>
                        <input type="password" placeholder="Senha" id="senha">
                    </label>
                </span>
                <button type="submit" class="buttonLogin_form_format buttonLogin_false" id="register">Concluir Cadastro</button>
            </form>
        </div>
        <div class="div_6 login_logo_format">
            <header class="div_8">
                <img src="IMG/Logo.svg" class="div_7">
                <h1 class="div_7">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam elementum mollis.
                </h1>
            </header>
        </div>
    </section>
    <script src="../JS/cadastrarUsuario.js" type="module"></script>
</body>
</html>