<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHARKCODE || Login</title>
    <link rel="stylesheet" type="text/css" href="../Style/format.css"/>
    <link rel="stylesheet" type="text/css" href="../Style/grid.css"/>
    <link rel="stylesheet" type="text/css" href="../Style/style_default_log.css"/>
    <link rel="stylesheet" type="text/css" href="../Style/Desing_Style/login_style.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo&display=swap" rel="stylesheet">
</head>
<body>
    <section class="container">
        <div class="div_6" >
            <div id="logo_login">
                <figure class="login_img_1">
                    <img src="IMG/Logo.svg">
                    <h1 class="title_login">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Diam elementum mollis
                    </h1>
                </figure>
                <figure class="login_img_2">
                    <img src="IMG/img_login.svg">
                </figure>
               
            </div>
        </div>
        <div class="div_4">
            <form class="form_format">
                <span id="title_form_format">Fazer login</span>
                <label class="inputText_form_format">
                    <span style="display: none;">E-mail</span>
                    <input type="email" placeholder="E-mail" id="email">
                </label>
                <label  class="inputText_form_format">
                    <span style="display: none;">Senha</span>
                    <input type="password" placeholder="Senha" id="pass">
                    <figre>
                        <img src="">
                    </figre>
                </label>
                <div id="link_format_login">
                    <span id="checkbox">
                        <label >
                            <input type="checkbox">
                        </label>
                        Lembrar-me
                    </span>
                    <a>Esqueci minha senha</a>
                </div>
                <button class="form_button_format" type="submit">Entrar</button>
            </form>
        </div>
    </section>
    <script src="../JS/loginUsuario.js" type="module"></script>
</body>
</html>