<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHARKCODE || Seja bem vindo</title>
    <link rel="stylesheet" type="text/css" href="Style/grid.css"/>
    <link rel="stylesheet" type="text/css" href="Style/format.css"/>
    <link rel="stylesheet" type="text/css" href="Style/style_default_log.css"/>
    <link rel="stylesheet" type="text/css" href="Style/style_alert.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
    <section class="container">
        <div class="div_4">
            <figure id="alert">
                <img src="IMG/logo_empresa.svg">
                <h1 class="title_alert">
                    Bem-vindo a SharkCode!
                </h1>
                <label class="buttons_form_format">
                    <a href="Desings/perfil.html">
                        <button>
                            <img src="IMG/Arrow.svg">
                        </button>
                    </a>
                </label>
            </figure>
        </div>
    </section>
</body>
</html>