<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SHARKCODE || LOGIN</title>
    <link rel="stylesheet" type="text/css" href="Style/grid.css"/>
    <link rel="stylesheet" type="text/css" href="Style/style_login.css"/>
    <link rel="stylesheet" type="text/css" href="Style/format.css"/>
    <link rel="stylesheet" type="text/css" href="Style/style_default_log.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap" rel="stylesheet">
</head>
<body>
    <section class="container">
    <div class="div_4">
        <form action="" method="POST" class="form_format">
            <span id="title_form_format">Fazer login</span>
            <label class="inputText_form_format">
                <span>E-mail</span>
                <input type="email" placeholder="E-mail" name="user"/>
            </label>
            <label class="inputText_form_format">
                <span>Senha</span>
                <input type="password" name="pass" placeholder="Senha"/>
                <figure><img src="IMG/View_open.svg"></figure>
            </label>
            <a id="link_form_format">Esqueci minha senha</a>
            <span class="buttons_form_format">
                <button><img src="IMG/Union.svg"></button>
                <button><img src="IMG/Arrow.svg"></button>
            </span>
        </form>
    </div>
    <div class="div_6">
        <figure class="logo_shark">
            <img src="IMG/Logo.svg">
            <h1>Seu site personalizado com um click...</h1>
        </figure>
    </div>
    </section>
    <script type="text/javascript" src="../JS/events_form.js">
    </script>
</body>
</html>