*{
    padding:0px;
    margin:0px;
    vertical-align:baseline;
    list-style:none;
    border:0px;
    font-size: 100%;
    font: inherit;
    outline: none;
    text-shadow: none;
    font-size: 15px;
}