@media only screen and (max-width: 800px){
    div[class*='div_']{
        width: 100%;
        height: 50%;
    }

    div.div_1 figure{
        display: none;
    }
    div.div_1 header{
        width: 100%;
        height: 100%;
    }
    div.div_1 header > h1{font-size: 38px;}
    div.div_1 header > h2{font-size: 15px;}
    div.div_1 > header > h1,h2{width: 80%;}

    div.div_2 > form{
        top: 5%;
        height: 90%;
    }

    div.div_2 > form > div.input_format{
        margin-top: 0px;
    }
    div#div_links{
        font-size: 80%;
        padding-bottom: 0px;
    }
}

